.header {
	margin: 0 20px;
	padding: 10px 0;
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 9999;
}

.headerLeft, .headerRight {
	display: flex;
	align-items: center;
}

a > span{
	margin: 0 30px;
	font-size: 1.3rem;
	cursor: pointer;
	position: relative;
	top: -10px;
	color: black;
	background: yellow;
	transition: all 0.3s;
	font-weight: bold;
	padding: 5px;
	border-radius: 20%;

}

a > span:hover{
	color: red;
	transform: scale(1.1);
}

.header__icon {
	width: 80px;
	cursor: pointer;
}

@media (max-width: 650px) {
    a > span{
		margin: 0 15px;
		font-size: 80%;
	
	}
}
@media (max-width: 450px) {
    a > span{
		margin: 0 8px;
		font-size: 70%;
	
	}
}